.mainSection {
  height: 80vh;
  display: flex;
}
.section1 {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25vw;
}