.vaccinationTrends {
  display: flex;
  width: 100vw;
  background-color: blanchedalmond;
  height: auto;
}
.vaccinationTrends canvas {
  width: 100vw;
}
.byDose, .byAge {
  background-color: blanchedalmond;
  border: none;
}
.active {
  border-bottom: 1px solid green;
}
.statestrend {
  width: 100vw;
}